@using System.Collections.Generic

@model CityWeather
        
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                        <h2 class="card-title">@Model.CityName - @Model.CityUniqueCode</h2>
                        <p class="card-text">@Model.DateAndTime.TimeOfDay | @Model.TemperatureFahrenheit Fahrenheit</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/">Return to List</a></div>
                    </div>
                </div>

            </div>
    